div {
    width: 100%;
    height: 200px;
    background-image: url(Co-warto-zobaczyc-w-gorach-swietokorzyskich.jpeg);
    background-color: rgba(255, 0, 0, 0.5);
    background-blend-mode: normal;
    background-repeat: no-repeat;
}

.multiply {
    background-blend-mode: multiply;
}

.screen {
    background-blend-mode: screen;
}

.overlay {
    background-blend-mode: overlay;
}