div {
    width: 100%;
    height: 700px;
    margin-bottom: 50px;
    background-image: url(Co-warto-zobaczyc-w-gorach-swietokorzyskich.jpeg);
}

.repeat-x {
    background-repeat: repeat-x;
}

.repeat-y {
    background-repeat: repeat-y;
}

.no-repeat {
    background-repeat: no-repeat;
}